@use 'fonts';

$primary-color: #060C3F;
$secondary-color: #000441;
$accent-color: #EBEFE2;
$body-text-color: #D6EFFF;
$hamburger-bg-color:rgba(51, 60, 134, 0.95);
$form-cta-color: #c27fa7;
$base-font-size: 18px;
$base-font-weight: 400;
