@use 'fonts';

$primary-color: #FFA500;   
$secondary-color:  #FF6F61; 
$accent-color: #1c6a26;  
$body-text-color: #4b323f; 
$hamburger-bg-color: #b0f4f9; 
$form-cta-color: #DA70D6; 
$base-font-size: 18px;
$base-font-weight: 400;