@use '../abstracts';

.overview {
    margin-top: 70px;
    color: abstracts.$body-text-color;
    p {
        font-weight: abstracts.$font-regular;
    } 
}
.usage {
    margin-top: 70px;
    color: abstracts.$body-text-color;
    p {
        font-weight: abstracts.$font-regular;
    }
}
.flowers {
    margin-top: 70px;
}
.flower-card {
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    background-color: #fff5f0;
    border-radius: 6px;
    width: 250px;
}

.flower-name {
    font-weight: abstracts.$font-bold;
    color: abstracts.$secondary-color;
}

@media screen and (min-width:768px) {
    .overview {
    margin-top: 130px;
    }
}